<!DOCTYPE html>
<html>
<head><meta http-equiv="cache-control" content="no-cache"><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Expires" content="-1"><style type="text/css">.html-rainbow-text span {
	font-family: monospace;
	display: inline-block;
	font-weight: bold;
	font-size: 60px;
	text-shadow: #A3A3A3 1px 1px 1px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}</style>


<title>Go away</title>
</head>
  <body>
    <div class="html-rainbow-text" style="text-align: center;">
	  <span style="color:#ffdb00">W</span>
      <span style="color:#49ff00">e</span>
      <span style="color:#00ff92">l</span>
      <span style="color:#0092ff">c</span>
      <span style="color:#4900ff">o</span>
      <span style="color:#ff00db">m</span>
      <span style="color:#ff0000">e</span>
    </div>
    <img class="center" src="https://i.imgur.com/JJj0Zlx.jpeg" alt="the bitch ass cat image broke" width="500">
  
<script>// Write JavaScript here </script></body>